@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");

:root {
    --background-color: #141414;
    --text-color: #eee;
    --primary-color: #0099ff;
    --navbar-color: #282828;
}

.lightmode {
    --background-color: #eee;
    --text-color: #141414;
    --navbar-color: #888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
    user-select: none;
    color: var(--text-color);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: var(--background-color);
}

main {
    position: relative;
    width: 95%;
    height: 95dvh;
    text-align: center;
}

nav {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--navbar-color);
    width: 100%;
    height: 10dvh;
}

ul > li > ion-icon {
    padding: 1rem;
    transition: rotate 0.3s;
}

#settings h2 {
    width: 100%;
    text-align: start;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--navbar-color);
    margin: 1rem;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    width: 95%;
    justify-self: center;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#theme, #account {
    display: grid;
    grid-template-rows: 0fr;
    font-size: min(1.5rem, 5vw);
    transition: grid-template-rows 0.3s;
    > div {
        overflow: hidden;
    }
}

ul ul li {
    margin: .5rem;
    position: relative;
}

.title {
    font-size: clamp(2rem, calc(7vw + 1rem), 4rem);
    margin: min(2rem, 8dvh);
}

.open-settings-dropdown {
    rotate: 90deg;
}

nav ion-icon{
    position: relative;
    font-size: min(2rem, 7.5vw);
    padding: 1rem;
}

.toggle-container {
    background-color: var(--navbar-color);
    border-radius: 16px;
    aspect-ratio: 5/3;
    width: min(2rem, 6vw);
    position: relative;
    transition: background-color 0.5s;
}

input[type="checkbox"] {
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;
    scale: 2;
    translate: -50%;
    position: absolute;
}

.toggle-container:has(input[type="checkbox"]:checked) {
    background-color: var(--primary-color);
}

.toggle-container span {
    background-color: white;
    aspect-ratio: 1;
    border-radius: 50%;
    width: 50%;
    position: absolute;
    left: 5%;
    top: 50%;
    translate: 0 -50%;
    transition: left 0.2s;
}

.toggle-container input[type="checkbox"]:checked + span {
    left: 45%;
}

.radio-container {
    width: 50%;
    height: 100%;
    position: absolute;
    display: inline-flex;
    justify-content: end;
    right: 0;
}

.radio-container input[type="radio"] {
    aspect-ratio: 1;
    width: max(1rem, 2vw);
    position: relative;
    margin: 0 .5vw;
    visibility: hidden;
}

.radio-container input[type="radio"]::after {
    visibility: visible;
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    transition: outline 0.2s;
}

.radio-container input[type="radio"]:checked::after{
    outline: 2px solid var(--text-color);
}

#one::after {
    background-color: #0099ff;
}

#two::after {
    background-color: #ff3535;
}

#three::after {
    background-color: #36a645;
}

#add + label {
    width: max(1rem, 2vw);
    height: max(1rem, 2vw);
    position: relative;
    margin: 0 .5vw;
    border-radius: 50%;
    color: var(--background-color);
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: outline 0.2s;
}

#add {
    position: absolute;
    width: max(1rem, 2vw);
    height: max(1rem, 2vw);
    z-index: 2;
    scale: 1.1;
    opacity: 0;
}

#account ion-icon{
    margin: 0 1rem;
}

.buttons {
    display: grid;
    gap: 1dvh;
}

.buttons div {
    display: flex;
    height: min(3rem, 12dvh);
    width: 100%;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
}

.name {
    position: relative;
    width: 100%;
    margin-bottom: 2vh;
}

.name input{
    background-color: transparent;
    border-radius: 5px;
    outline: transparent;
    border: 2px solid var(--navbar-color);
    transition: border 0.3s;
    padding: min(2vw, .5rem);
    font-size: min(1.5rem, 5vw);
    width: 100%;
}

.name input:focus, .input input:focus-visible {
    border: 2px solid var(--primary-color);
}

.name input:focus + label, .name input:valid + label {
    top: 0;
    left: 5%;
    font-size: 90%;
}

.name label {
    pointer-events: none;
    background-color: var(--background-color);
    padding: 0 min(3vh, .5rem);
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    font-size: min(1.5rem, 5vw);
    left: 2%;
    transition: font-size 0.3s, top 0.3s, left 0.3s;
}

.tags-container {
    height: max-content;
    display: inline-flex;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}

.tags-container .tag {
    border-radius: 16px;
    height: max-content;
    width: max-content;
    margin: 0 .5vw;
    border: 2px solid var(--navbar-color);
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding:  min(2vw, .5rem);
}

#add-tag {
    border: 2px solid var(--primary-color);
}

.note {
    position: relative;
}

#note {
    background-color: transparent;
    border-radius: 5px;
    outline: transparent;
    border: 2px solid var(--navbar-color);
    transition: border 0.3s;
    padding: min(2vw, .5rem);
    font-size: min(1.5rem, 5vw);
    width: 100%;
    resize: none;
}

#note ~ label{
    pointer-events: none;
    background-color: var(--background-color);
    padding: 0 min(3vh, .5rem);
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    font-size: min(1.5rem, 5vw);
    left: 2%;
    transition: font-size 0.3s, top 0.3s, left 0.3s;
}

#note:focus, #description:focus-visible {
    border: 2px solid var(--primary-color);
}

#note:focus ~ label {
    top: 0 !important;
    left: 5% !important;
    font-size: 90% !important;
}

select[id="account"] {
    background-color: transparent;
    border-radius: 5px;
    outline: transparent;
    border: 2px solid var(--navbar-color);
    transition: border 0.3s;
    padding: min(2vw, .5rem);
    font-size: min(1.5rem, 5vw);
    width: 100%;
    margin-bottom: 2vh;
}

.account-view {
    width: 100%;
    height: 75%;
    display: grid;
    gap: 1vh;
    color: var(--navbar-color);
    text-align: center;
    font-size: clamp(1rem, calc(3.5vw + .5rem), 2rem);
}

.account-view div {
    border: 2px solid var(--navbar-color);
    border-radius: 5px;
    position: relative;
    color: var(--text-color);
}

.account-view div h2 {
    text-align: start;
    margin: min(2rem, 4vw);
    font-weight: 500;
    font-size: clamp(1rem, calc(4vw + .5rem), 2rem);
}

.account-view div ion-icon {
    position: absolute;
    right: min(2rem, 4vw);
    top: min(2rem, 4vw);
    font-size: clamp(1rem, calc(4vw + .5rem), 2rem);
}

.account-view div h3 {
    position: absolute;
    bottom: min(2rem, 4vw);
    font-size: clamp(.8rem, calc(3vw + .3rem), 1.5rem);
    font-weight: 400;
}

h3.currency{
    left: min(2rem, 4vw);
}

h3.balance {
    right: min(2rem, 4vw);
}